#nologgeduserform{
  margin: 200px auto;
  background: #cdcdcd;
  padding: 100px 50px;
  width: 80%;
}
#loginform{
  float: left;
  width: 50%;
  min-height: 300px;
}
#loginform input, #loginform button, #loginform p, #registerform input, #registerform button{
  display: block;
  margin: 10px;
}